english,chinese,level,phonetic,example1,example1_form,example1_cn,example2,example2_form,example2_cn
a,一（个）,小学,/ə/,This is a pen.,,这是一支钢笔,I see a cat.,,我看见一只猫
an,一（个）,小学,/ən/,This is an apple.,,这是一个苹果,She has an umbrella.,,她有一把伞
apple,苹果,小学,/ˈæpl/,I like apples.,apples,我喜欢苹果,The apple is red.,apple,这个苹果是红色的
banana,香蕉,小学,/bəˈnɑːnə/,Bananas are yellow.,Bananas,香蕉是黄色的,I eat a banana.,banana,我吃一根香蕉
bear,熊,小学,/beə(r)/,The bear is big.,bear,这只熊很大,I saw a bear in the zoo.,bear,我在动物园看到一只熊
